<!DOCTYPE html>
<html>
<head>
  <title>HuanTarget | <%= yield(:title) %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="container">
        <div id="header">
            <nav>
                <h1 class="menu_item" id="logo"><%= link_to "HUANTARGET", "#" %></h1>
                <div id="menu">
                    <ul>
                        <li class="menu_item"><%= link_to "BLOG",                    "#" %></li>
                        <li class="menu_item"><%= link_to "PROJECTS",             "#" %></li>
                        <li class="menu_item"><%= link_to "FOR RECRUITERS", "#" %></li>
                        <li class="menu_item"><%= link_to "CONTACT ME",        "#" %></li>
                        <li class="menu_item"><%= link_to "LOG IN",                  "#" %></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div id="content">
            <%= yield %>
        </div>

        <div id="footer"><h1>FOOTER</h1></div>
    </div>
</body>
</html>
